spring:
  batch:
    job:
      enabled: false
  profiles:
    group:
      local:
        - data-local
        - cloud-local
      dev:
        - data-dev
        - cloud-dev

  jackson:
    time-zone: Asia/Seoul

  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
