spring:
  profiles:
    group:
      local:
        - data-local
        - cloud-local
      dev:
        - data-dev
        - cloud-dev

  jackson:
    time-zone: Asia/Seoul
  datasource:
    hikari:
      leak-detection-threshold: 2000
      connection-timeout: 1500
      keepalive-time: 30000
      validation-timeout: 1000
      max-lifetime: 600000
      pool-name: api-db-pool
      data-source-properties:
        socketTimeout: 3000
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
        useLocalSessionState: true
        rewriteBatchedStatements: true
        cacheResultSetMetadata: true
        cacheServerConfiguration: true
        elideSetAutoCommits: true
        maintainTimeStats: false

  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
      repositories:
        enabled: false

  lifecycle:
    timeout-per-shutdown-phase: 10s

server:
  shutdown: graceful

jwt:
  key: ${JWT_KEY}

exclude-auth-path-patterns:
  paths:
    - path-pattern: /health-check
      method: GET
    - path-pattern: /swagger-ui/**
      method: GET
    - path-pattern: /swagger-resources/**
      method: GET
    - path-pattern: /v3/api-docs/**
      method: GET
    - pathPattern: /api/auth/sign-up
      method: POST
    - pathPattern: /api/auth/login
      method: POST
    - pathPattern: /api/members/check-available
      method: POST
    - pathPattern: /api/version/**
      method: GET
    - pathPattern: /app/version/**
      method: GET
    - path-pattern: /api/rsa/public-key
      method: GET
    - path-pattern: /api/members/generate-nickname
      method: GET
    - path-pattern: /api/members/validate-nickname
      method: POST
    - path-pattern: /api/images/profile
      method: GET
    - path-pattern: /api/images/defaults
      method: GET
    - path-pattern: /api/auth/token/reissue
      method: POST
    - path-pattern: /api/members/account/transfer
      method: POST