spring:
  profiles:
    group:
      local:
        - data-local
        - cloud-local
      dev:
        - data-dev
        - cloud-dev
  threads:
    virtual:
      enabled: true
  jackson:
    time-zone: Asia/Seoul
  lifecycle:
    timeout-per-shutdown-phase: 10s

server:
  shutdown: graceful

jwt:
  key: ${JWT_KEY}

exclude-auth-path-patterns:
  paths:
    - path-pattern: /health-check
      method: GET
    - path-pattern: /swagger-ui/**
      method: GET
    - path-pattern: /swagger-resources/**
      method: GET
    - path-pattern: /v3/api-docs/**
      method: GET
    - pathPattern: /api/auth/sign-up
      method: POST
    - pathPattern: /api/auth/login
      method: POST
    - pathPattern: /api/members/check-available
      method: POST
    - pathPattern: /api/version/**
      method: GET
    - pathPattern: /app/version/**
      method: GET
    - path-pattern: /api/rsa/public-key
      method: GET
    - path-pattern: /api/members/generate-nickname
      method: GET
    - path-pattern: /api/members/validate-nickname
      method: POST
    - path-pattern: /api/images/profile
      method: GET
    - path-pattern: /api/images/defaults
      method: GET
    - path-pattern: /api/auth/token/reissue
      method: POST
    - path-pattern: /api/members/account/transfer
      method: POST